@model IEnumerable<TextilCorp.Models.Ventas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.ClientesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productos.ProductosId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VentasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VentasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VentasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
